body{
font-family: 'Outfit', sans-serif;
width: 1440px;
background-color: #181818;
color: #FFF;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}
header{
    height: 38px;
    background-color: #FFAA4C;
}

.header__tabs{
    display: flex;
}
.header__tabs-item{
    padding: 9px 40px;
    font-size: 16px;
    font-weight: 500;
    color: #181818;
}
.header__tabs-item:hover{
    cursor: pointer;
}
.activeTab{
    border-radius: 20px 20px 0px 0px;
    background:#181818;
    color: #fff;
}

.logoBtnRow {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}
.button {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 16px;
    background: var(--primary-01, #954CED);
    padding: 16px 30px;
    align-items: center;
    width: 182px;
    height: 57px;
}
.button:hover{
    cursor: pointer;
    color:bisque;
}
.homePageRow {
    display: flex;
}
.homePageRow__descr {
    padding: 82px 64px 240px 110px;
}

.mainPhoto {
    padding: 62px 0 88px 0;
}
h1{
    font-size: 96px;
    font-weight: 700;
    margin: auto;
    margin-bottom: 20px;
}

.homePageRow__descr p{
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 40px;
    margin-top: 0;
}
.about{
    position: relative;
    height: 953px;
}

.about__title {
    font-feature-settings: 'liga' off;
    font-size: 96px;
    font-weight: 700;
    margin-bottom: 80px;
}
.about__wrapper {
    display: flex;
    justify-content: space-between;

}
.about__wrapper_bot{
    display: flex;
    justify-content: flex-end;
}
.about__wrapper_descr {
    position: relative;
    font-size: 36px;
    font-weight: 600;
    width: 397px;
    margin-right: 131px;
}
.about__wrapper_descr::after{
    position: absolute;
    content: url(/img/line.png);
    left: 56px;
    z-index: -1;
}
.about::before{
    position: absolute;
    content: url(/img/about_img.png);
    left: 0;
    bottom: 0;
}
.about__wrapper_item{
    width: 340px;
    margin-bottom: 80px;
    margin-right: 58px;
}
.about__wrapper_item img{
    margin-bottom: 20px;
}
.item__title {
    
    font-feature-settings: 'liga' off;
    font-size: 48px;
    font-weight: 700;
    line-height: 106%;
    margin-bottom: 10px;
}
.item__descr {
    font-size: 24px;
    font-weight: 400;
    line-height: 120%; 
}
.budss {
margin: 146px 0 78px 0;
overflow: hidden;
}
.budss__wrapper {
    display: flex;
    justify-content: space-around;
    animation: scroll 5s linear infinite;
    width: 200%;
    
}
.budss_row{
    display: flex;
    justify-content: space-around;
    
}
@keyframes scroll {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }    
}